body {
    margin: 0px auto;
}
.board {
    width: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: row;
}
.tile {
    background-color: blue;
    color: black;
    border-radius : 5px;
    padding: 20px;
    font-size: 150%;
}